.nextflow*
work/
data/
results/
.DS_Store
testing/
testing*
*.pyc
Final_Output*
agat/
arriba/
arriba_visualisation/
fastqc/
fusioncatcher/
fusioninspector/
fusionreport/
multiqc/
picard/
pipeline_info/
ref_build_output/
references/
samp.dat
samp.dat_bedmap
samples/
samplesheet.csv
script.log
script.log.coverage
star_for_arriba/
star_for_starfusion/
starfusion/
stringtie/
vcf/
assets/
bin/
conf/
docs/
lib/
.*
fusioncatcher/
fusioninspector/
fusionreport/
get/
kallisto/
picard/
pipeline_info/
pizzly/
qualimap/
arriba/
arriba_visualisation/
samplesheet.csv
squid/
multiqc/
*_bedmap
references/
scriptlog
scriptlog.coverage
*.out
CHANGELOG.md
CITATIONS.md
CODE_OF_CONDUCT.md
LICENSE
