manifest {
	description = 'Calculation of custom parameters'
	author = 'Vishram L. Terse'
	nextflowVersion = '20.10.0'
}

params {
	bedtools = "/usr/bin/bedtools"
	samtools = "/home/programs/samtools-1.7/samtools"
	merge_csvs_script = "/home/diagnostics/pipelines/nf-core/rnafusion-3.0.1/scripts/merge-csv_v3.py"
	sed_sh = "/home/diagnostics/pipelines/nf-core/rnafusion-3.0.1/scripts/sed.sh"
}
